USE [master]
GO
/****** Nesnesi: Database [stok_program] Betik Tarihi: 24.05.2026 23:27:05 ******/
CREATE DATABASE [stok_program]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stok_program', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\stok_program.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stok_program_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\stok_program_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stok_program].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stok_program]
GO
/****** Nesnesi: Table [dbo].[Borclar] Betik Tarihi: 24.05.2026 23:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borclar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](50) NOT NULL,
	[MusteriSoyad] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[BorcTutari] [decimal](18, 2) NOT NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Kullanicilar] Betik Tarihi: 24.05.2026 23:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Satislar] Betik Tarihi: 24.05.2026 23:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParcaNo] [nvarchar](50) NULL,
	[Miktar] [int] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Urunler] Betik Tarihi: 24.05.2026 23:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[ParcaNo] [nvarchar](50) NOT NULL,
	[ParcaAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[AlisFiyati] [decimal](18, 2) NULL,
	[SatisFiyati] [decimal](18, 2) NULL,
	[StokMiktari] [int] NULL,
	[RafNo] [nvarchar](50) NULL,
	[ResimYolu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParcaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Borclar] ON 

INSERT [dbo].[Borclar] ([Id], [MusteriAd], [MusteriSoyad], [Telefon], [BorcTutari], [Tarih]) VALUES (1, N'ahmet', N'yılmaz', N'055511122', CAST(360.00 AS Decimal(18, 2)), CAST(N'2026-05-23T22:15:34.633' AS DateTime))
INSERT [dbo].[Borclar] ([Id], [MusteriAd], [MusteriSoyad], [Telefon], [BorcTutari], [Tarih]) VALUES (2, N'nisa', N'şener', N'05447766', CAST(360.00 AS Decimal(18, 2)), CAST(N'2026-05-23T22:22:32.847' AS DateTime))
INSERT [dbo].[Borclar] ([Id], [MusteriAd], [MusteriSoyad], [Telefon], [BorcTutari], [Tarih]) VALUES (3, N'', N'', N'', CAST(360.00 AS Decimal(18, 2)), CAST(N'2026-05-23T22:38:37.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[Borclar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (1, N'admin', N'1234', N'Yönetici')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (2, N'admin', N'1234', N'Yönetici')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Satislar] ON 

INSERT [dbo].[Satislar] ([Id], [ParcaNo], [Miktar], [Tutar], [Tarih]) VALUES (4, N'33306', 2, CAST(640.00 AS Decimal(18, 2)), CAST(N'2026-05-24T00:29:40.707' AS DateTime))
INSERT [dbo].[Satislar] ([Id], [ParcaNo], [Miktar], [Tutar], [Tarih]) VALUES (5, N'33302', 1, CAST(550.00 AS Decimal(18, 2)), CAST(N'2026-05-24T00:30:05.670' AS DateTime))
INSERT [dbo].[Satislar] ([Id], [ParcaNo], [Miktar], [Tutar], [Tarih]) VALUES (6, N'1001', 1, CAST(890.00 AS Decimal(18, 2)), CAST(N'2026-05-24T02:15:07.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[Satislar] OFF
GO
INSERT [dbo].[Urunler] ([ParcaNo], [ParcaAdi], [Aciklama], [AlisFiyati], [SatisFiyati], [StokMiktari], [RafNo], [ResimYolu]) VALUES (N'1001', N'Siyah Kadife Elbise', N'Elite Collection-Yeni Sezon', CAST(450.00 AS Decimal(18, 2)), CAST(890.00 AS Decimal(18, 2)), 25, N'A-12', N'C:\Users\betul\Downloads\indir (4).jpg')
INSERT [dbo].[Urunler] ([ParcaNo], [ParcaAdi], [Aciklama], [AlisFiyati], [SatisFiyati], [StokMiktari], [RafNo], [ResimYolu]) VALUES (N'1005', N'Beyaz Oversize Tişört', N'%100 Pamuk-Streetwear Style', CAST(200.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), 50, N'B-04', N'C:\Users\betul\Downloads\indir (5).jpg')
INSERT [dbo].[Urunler] ([ParcaNo], [ParcaAdi], [Aciklama], [AlisFiyati], [SatisFiyati], [StokMiktari], [RafNo], [ResimYolu]) VALUES (N'1008', N'Siyah Deri Ceket', N'Deri,Biker Model', CAST(850.00 AS Decimal(18, 2)), CAST(1800.00 AS Decimal(18, 2)), 15, N'A-12', N'C:\Users\betul\Downloads\indir (6).jpg')
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Satislar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [AlisFiyati]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [SatisFiyati]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [StokMiktari]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([ParcaNo])
REFERENCES [dbo].[Urunler] ([ParcaNo])
GO
USE [master]
GO
